<div class="container">
 <br>
 <h1 class="black-shadow">Your trucks</h1>
 <br>
 <table class="table table-hover white-box">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Truck name</th>
          <th scope="col">Price per km</th>
          <th scope="col">Capacity</th>
          <th scope="col">Driver</th>
          <th scope="col">Driver license</th>
          <th scope="col">Truck license</th>
          <th scope="col">Truck category</th>
          <th scope="col">Load category</th>
        </tr>
      </thead>
      <tbody>
        <% @trucks.each do |truck| %>
          <tr>
            <td><%= truck.truck_name %></td>
            <td><%= truck.price_per_km %></td>
            <td><%= truck.capacity %></td>
            <td><%= truck.driver_name %></td>
            <td><%= truck.driver_license %></td>
            <td><%= truck.truck_license %></td>
            <td><%= truck.truck_category.name %>
            <td>
            <% truck.load_categories.each do |cat| %>
              <%= cat.name %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
 </table>
<%= link_to "Go home", root_path, class: "btn btn-primary"  %>
</div>
