<div class="container">
  <br>
  <h1 class="black-shadow">Mis camiones activos</h1>
  <br>
  <div class="form form-box">
    <table class="table table-hover white-box">
      <thead>
        <tr>
          <th scope="col">Identificación</th>
          <th scope="col">Precio por m</th>
          <th scope="col">Capacidad</th>
          <th scope="col">Conductor</th>
          <th scope="col">Licencia conductor</th>
          <th scope="col">Patente</th>
          <th scope="col">Categoría</th>
          <th scope="col">Cargas aceptadas</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
        <% @trucks.each do |truck| %>
          <tr>
            <td><%= truck.truck_name %></td>
            <td><%= truck.price_per_km %></td>
            <td><%= truck.capacity %></td>
            <td><%= truck.driver_name %></td>
            <td><%= truck.driver_license %></td>
            <td><%= truck.truck_license %></td>
            <td><%= truck.truck_category.description %>
            <td>
            <% truck.load_categories.each do |cat| %>
              <%= cat.description %>
            <% end %>
            </td>
            <td>
              <% if truck.photo.present? %>
                <%= cl_image_tag truck.photo.key, height: 60, width: 80, crop: :fill %>
              <% else %>
                <%= image_tag "default-truck.png", height: 60, width: 80, crop: :fill %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="form-row d-flex justify-content-center px-10">
      <button class="button green-button align-middle"><%= link_to "Nuevo viaje", loads_path %></button>
      <button class="button green-button align-middle"><%= link_to "Estadísticas", users_path %></button>
    </div>
  </div>
</div>
