<div class="container">
  <h2>Alta camiones</h2>
  <div class="form">
    <%= form_with(model: @truck, local: true) do |form| %>
      <h4>Tasks</h4>
      <div data-controller="nested-form">
        <template data-target="nested-form.template">
          <%= form.fields_for :load_categories, TruckLoadCategory.new, child_index: 'NEW_RECORD' do |task| %>
          <%= render "form", form: task %>
          <% end %>
        </template>
        <%= form.fields_for :load_categories do |task| %>
          <%= render "form", form: task %>
        <% end %>
        <div class="mb-3" data-target="nested-form.links">
          <%= link_to "Add Task", "#", class: "btn btn-outline-primary", data: { action: "click->nested-form#add_association" } %>
        </div>
      </div>
    <% end %>
  </div>
    <%= simple_form_for @truck do |f| %>
      <%= f.input :truck_name, placeholder: "Diesel 1", label: 'Nombre identificador' %>
      <%= f.select :truck_category, collection: ["Camion", "Camioneta"] %>
      <%= f.input :truck_license, placeholder: "XX 123 XX", label: 'Patente' %>
      <%= f.input :driver_name, placeholder: "Roberto Bolaños", label: 'Conductor' %>
      <%= f.input :driver_license, placeholder: "xxxxxxx", label: 'Licencia' %>
      <%= f.input :capacity, placeholder: "84", label: 'Capacidad' %>
      <%= f.input :price_per_km, placeholder: "100", label: 'Tarifa estimada por km' %>
      <%= f.button :submit, "Confirmar alta", class: "btn btn-primary"%>
    <% end %>
</div>
