<div class="container">
  <br>
  <h1 class="black-shadow">New truck</h1>
  <br>
  <div class="container row">
    <div class="form-box col">
      <%= simple_form_for @truck do |f| %>
        <div class="form-row white-box">
          <div class="form-group">
            <%= f.input :truck_name, placeholder: "Diesel 1", label: 'Nombre identificador' %>
          </div>
        </div>
        <div class="form-row white-box">
          <div class="form-group">
            <%= f.input :truck_license, placeholder: "XX 123 XX", label: 'Patente' %>
          </div>
        </div>
        <div class="form-row white-box">
          <div class="form-group">
            <%= f.input :driver_name, placeholder: "Roberto Bolaños", label: 'Conductor' %>
          </div>
        </div>
        <div class="form-row white-box">
          <div class="form-group">
            <%= f.input :driver_license, placeholder: "xxxxxxx", label: 'Licencia' %>
          </div>
        </div>
        <div class="form-row white-box">
          <div class="form-group">
            <%= f.input :capacity, placeholder: "84", label: 'Capacidad (m3)' %>
          </div>
        </div>
        <div class="form-row white-box">
          <div class="form-group">
            <%= f.input :price_per_km, placeholder: "100", label: 'Tarifa por km ($/km)' %>
          </div>
        </div>
        <div class="form-row white-box">
          <div class="form-group">
            <%= f.association :truck_category %>
          </div>
        </div>
        <div class="form-row white-box">
          <div class="form-group">
            <%= f.label "Load category" %>
            <%= f.fields_for :truck_load_categories, @truck_load_category do |t| %>
              <%= t.collection_select(:id, LoadCategory.all, :id, :description,  {:prompt => "Please Select a Sector"}, {:multiple => true}) %>
            <% end %>
          </div>
        </div>
        <div class="form-row d-flex justify-content-center">
          <%= f.button :submit, "Confirmar alta", class: "button green-button"%>
        </div>
      <% end %>
    </div>
  </div>
</div>

