<div class="container">
  <div class="form">
    <h1> Name: <%= @user.name %></h1>
    <h1> Email: <%= @user.email %></h1>
  </div>
  <div class="row justify-content-center m-2">
    <h2>Estadisticas</h2>
  </div>

  <div class="cards">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p>Viajes Realizados: <%= @freight %></p>
  </div>
</div>
<div class="w3-container">
  <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p>Kms recorridos: <%=  %></p>
  </div>
</div>
<div class="w3-container">
  <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p>Emisiones evitadas: <%=  %></p>
  </div>
</div>
<div class="w3-container">
  <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p>Capacidad utilizada: <%=  %></p>
  </div>
</div>
<div class="w3-container">
  <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p> Ahorros: <%=  %></p>
  </div>
</div>
<div class="w3-container">
  <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p>Reseñas: <%=  %></p>
  </div>
</div>
