<div class="container">
  <br>
  <h1 class="black-shadow">Nombre: <%= @user.name %></h1>
  <h1 class="black-shadow">Email: <%= @user.email %></h1>
  <br>
  <div class="black-shadow row justify-content-center m-2">
    <h2>Mis Estadisticas</h2>
  </div>

  <div class="cards">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <div class="w3-white w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p>Viajes Realizados: <%= @user.loads.count %></p>
  </div>
</div>
<div class="w3-container">
  <div class="w3-white w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p>Kms recorridos: 4536<%=  %></p>
  </div>
</div>
<div class="w3-container">
  <div class="w3-white w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p>Emisiones evitadas: 1856<%=  %></p>
  </div>
</div>
<div class="w3-container">
  <div class="w3-white w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p>Capacidad utilizada: 3265 <%=  %></p>
  </div>
</div>
<div class="w3-container">
  <div class="w3-white w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p> Ahorros: $12565 <%=  %></p>
  </div>
</div>
<div class="w3-container">
  <div class="w3-white w3-hover-shadow w3-padding-64 w3-center" style="width:70%">
    <p>Reseñas: 2<%=  %></p>
  </div>
</div>
