<div class="container">
  <div class="form">
    <%= simple_form_for @load do |f| %>
      <%= f.input :start_date, placeholder: "Fecha inicio", label: "Fecha inicio:" %>
      <%= f.input :end_date, placeholder: "Fecha de llegada", label: "Fecha de llegada:" %>
      <%= f.simple_fields_for :start_point do |spf| %>
      <%= spf.input :location, placeholder: "Mi ubicacion...", label: "Lugar de carga:" %>
      <% end %>
      <%= f.simple_fields_for :end_point do |epf| %>
      <%= epf.input :location, placeholder: "Rosario...", label: "Lugar de entrega:" %>
      <% end %>
      <%= f.input :hour_range, collection: [["Mañana"],["Tarde"],["Noche"]], selected: "Mañana", label: "Rango horario:" %>
      <%= f.input :weight, placeholder: "1..5000", label: "Peso aproximado:" %>
      <%= f.input :volume, placeholder: "1..300", label: "Volumen aproximado:" %>
      <%= f.button :submit, "Guardar cambios", class: "btn btn-primary"%>
      <%= link_to "Borrar #{@load.id}",
            loads_path(@load),
            method: :destroy,
            data: { confirm: "Estas seguro?" } %>
    <% end %>
  </div>
</div>
