<div class="container">
  <br>
  <h1 class="black-shadow">Buscador de cargas</h1>
  <br>
  <div class="row">
    <div class="col-sm-6 form-box ">
      <div class="d-flex justify-content-center">
        <%= search_form_for(@q,action: :index, controller: :loads) do |f| %>
          <div class="d-none">
            <%= f.select :status_eq, ["Nueva"], include_blank: false %>
          </div>
          <div class= "form-inputs">
            <div class="container">
              <div class="form-row white-box">
                <div class="form-group col-md-6">
                  <label>Origen</label>
                  <%= f.search_field :start_point_location_i_cont, class: 'form-control input-sm border', id: 'inputOrigin' %>
                </div>
                <div class="form-group col-md-6">
                  <label>Destino</label>
                  <div>
                    <%= f.search_field :end_point_location_i_cont, class: 'form-control input-sm border', id: 'inputDestino' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="form-row white-box">
                <div class="form-group col-md-6 input-daterange" id="datepicker">
                  <label>Fecha máxima</label>
                  <div class="input-daterange" id="datepicker">
                    <%= f.date_field :start_date_gteq, class: 'form-control input-sm border', 'datepicker' => true %>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Fecha mínima</label>
                  <%= f.date_field :end_date_lt, class: 'form-control input-sm border','datepicker' => true %>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="form-row white-box">
                <div class="form-group col-md-6">
                  <label>Rango horario</label>
                  <%= f.select :hour_range_eq, ["7:00-12:00", "12:00-17:00", "17:00-22:00"], include_blank: true %>
                </div>
                <div class="form-group col-md-6">
                  <label>Tipo de carga</label>
                  <%= f.collection_select :load_category_id_eq, LoadCategory.all, :id, :description, include_blank: true %>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="form-row white-box">
                <div class="form-group col-md-6">
                  <label>Requerimientos especiales</label>
                  <%= f.collection_select :special_requirement_id_eq, SpecialRequirement.all, :id, :description, include_blank: true %>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <%= f.submit 'Seleccionar cargas', class: "btn button green-button"%>
          </div>
        <% end %>
      </div>
      <br>
    </div>
    <div class="col-sm-6">
      <div id="map2"
           style="width: 100%; height: 500px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
  <br>
  <br>
</div>
