<div class="container">
    <br>
    <h1 class="black-shadow">Buscador de cargas</h1>
    <br>
    <div class="row">
      <div class="col-sm-6 form-box ">
        <div class="d-flex justify-content-center">
          <%= search_form_for @q do |f| %>
            <div class="d-none">
              <%= f.select :status_eq, ["Nueva"], include_blank: false %>
            </div>
            <div class= "form-inputs">
              <div class="container">
                <div class="form-row white-box">
                  <div class="form-group col-md-6">
                    <label>Origen</label>
                    <div>
                    <%= f.search_field :start_point_location_i_cont, class: 'form-control input-sm' %>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Destino</label>
                    <div>
                      <%= f.search_field :end_point_location_i_cont, class: 'form-control input-sm' %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="form-row white-box">
                  <div class="form-group col-md-6 input-daterange" id="datepicker">
                    <label>Fecha máxima</label>
                    <div class="input-daterange" id="datepicker">
                      <%= f.date_field :start_date_gteq, class: 'form-control input-sm', 'datepicker' => true %>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Fecha mínima</label>
                    <%= f.date_field :end_date_lt, class: 'form-control input-sm','datepicker' => true %>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="form-row white-box">
                  <div class="form-group col-md-6">
                    <label>Rango horario</label>
                    <%= f.select :hour_range_eq, ["7:00-12:00", "12:00-17:00", "17:00-22:00"], include_blank: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Tipo de carga</label>
                    <%= f.collection_select :load_category_id_eq, LoadCategory.all, :id, :description, include_blank: true %>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="form-row white-box">
                  <div class="form-group col-md-6">
                    <label>Requerimientos especiales</label>
                    <%= f.collection_select :special_requirement_id_eq, SpecialRequirement.all, :id, :description, include_blank: true %>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <%= f.submit 'Ver opciones', class: "button green-button"%>
            </div>
          <% end %>
        </div>
        <br>
      </div>
      <div class="col-sm-6">
        <!-- <div id="map2"
             style="width: 100%; height: 500px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<#%= ENV['MAPBOX_API_KEY'] %>"></div> -->
      </div>
    <div>
  </div>
  <br>
  <br>
  <div class="container">
    <br>
    <h1 class="black-shadow">Selecciona tus cargas</h1>
    <br>
    <div class="d-flex" id="loads-selection">
        <div class="col-8 px-0">
          <div class="row align-items-center">
            <% @loads.each do |load| %>
              <div class="col-6 align-items-stretch">
                <div class="card mx-auto my-1" style="width: 94%;">
                  <% if load.photo.present? %>
                    <%= cl_image_tag load.photo.key, class: "card-img-top", height: 300, width: 400, crop: :fill %>
                  <% else %>
                    <%= image_tag "default-load.png", class: "card-img-top", height: 300, width: 400, crop: :fill %>
                  <% end %>
                  <div class="movement justify-content-end align-items-center">
                    Click para seleccionar
                    <%= link_to "#", class: "add-load check-button ml-1 mr-2", data: {id: load.id} do %>
                      <i class="fas fa-check-square fa-2x"></i>
                      <i class="far fa-square fa-2x"></i>
                    <% end %>
                  </div>
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="white-box m-1">
                          <h5 class="card-title">Origen</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= load.start_point.location %></h6>
                        </div>
                        <div class="white-box m-1">
                          <h5 class="card-title">Destino</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= load.end_point.location %></h6>
                        </div>
                      </div>

                      <div class="d-flex justify-content-between">
                        <div class="white-box m-1">
                          <h5 class="card-title">Fecha mínima</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= load.start_date %></h6>
                        </div>
                        <div class="white-box m-1">
                          <h5 class="card-title">Fecha máxima</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= load.end_date %></h6>
                        </div>
                        <div class="white-box m-1">
                          <h5 class="card-title">Rango horario</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= load.hour_range %></h6>
                        </div>
                      </div>

                      <div class="d-flex justify-content-between">
                        <div class="white-box m-1">
                          <h5 class="card-title">Requerimientos</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= load.special_requirement.description %></h6>
                        </div>
                        <div class="white-box m-1">
                          <h5 class="card-title">Tipo de carga</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= load.load_category.description %></h6>
                        </div>
                        <div class="white-box m-1">
                          <h5 class="card-title">Volumen(m3)</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= load.volume %></h6>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            <% end %>
          </div>

        </div>
        <div class="col-4 p-0 mt-1 ml-3 white-box" id="mapbox">
          <div class="container">
            <p class="black-shadow">Asigna el camión para este viaje</p>
            <div class="justify-content-center form-box text-center">
              <%= simple_form_for @freight do |f| %>
                <div class="white-box">
                  <%= f.association :truck, collection: Truck.where(user: current_user), prompt: 'Seleccioná tu camión', label_method: :truck_name, label: false %>
                </div>
                <div class="d-none">
                  <%= simple_fields_for :loads do |l|%>
                    <%= l.input :ids, collection: @loads, input_html: {multiple: true} %>
                  <% end %>
                </div>
                <%= f.submit 'Crear viaje', class: "button green-button"%>
              <% end %>
            </div>
          </div>
          <div id="map2"
               style="width: 100%; height: 97vh;"
               data-markers="<%= @markers.to_json %>"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">


               </div>
        </div>
    </div>
  </div>
</div>

