<div class="container">
    <br>
    <h1 class="black-shadow">Buscador de cargas</h1>
    <br>
    <div class="row">
      <div class="col-sm-6 form-box ">
        <div class="d-flex justify-content-center">
          <%= search_form_for @q do |f| %>
            <div class="d-none">
              <%= f.select :status_eq, ["Nueva"], include_blank: false %>
            </div>
            <div class= "form-inputs">
              <div class="container">
                <div class="form-row white-box">
                  <div class="form-group col-md-6">
                    <label>Origen</label>
                    <div>
                    <%= f.search_field :start_point_location_i_cont, class: 'form-control input-sm' %>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Destino</label>
                    <div>
                      <%= f.search_field :end_point_location_i_cont, class: 'form-control input-sm' %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="form-row white-box">
                  <div class="form-group col-md-6 input-daterange" id="datepicker">
                    <label>Fecha máxima</label>
                    <div class="input-daterange" id="datepicker">
                      <%= f.date_field :start_date_gteq, class: 'form-control input-sm', 'datepicker' => true %>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Fecha mínima</label>
                    <%= f.date_field :end_date_lt, class: 'form-control input-sm','datepicker' => true %>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="form-row white-box">
                  <div class="form-group col-md-6">
                    <label>Rango horario</label>
                    <%= f.select :hour_range_eq, ["7:00-12:00", "12:00-17:00", "17:00-22:00"], include_blank: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Tipo de carga</label>
                    <%= f.collection_select :load_category_id_eq, LoadCategory.all, :id, :description, include_blank: true %>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="form-row white-box">
                  <div class="form-group col-md-6">
                    <label>Requerimientos especiales</label>
                    <%= f.collection_select :special_requirement_id_eq, SpecialRequirement.all, :id, :description, include_blank: true %>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <%= f.submit 'Ver opciones', class: "button green-button"%>
            </div>
          <% end %>
        </div>
        <br>
      </div>
      <div class="col-sm-6">
        <div id="map2"
             style="width: 100%; height: 600px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    <div>
  </div>
  <br>
  <br>
  <div class="container">
    <br>
    <h1 class="black-shadow">Selecciona tus cargas</h1>
    <br>
    <div class="form-box" id="loads-selection">
      <% @loads.each do |load| %>
        <div class="row align-items-center">
          <div class="load-card col-11">
            <% if load.photo.present? %>
              <%= cl_image_tag load.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= image_tag "default-load.png", height: 300, width: 400, crop: :fill %>
            <% end %>
              <div class= "load-card-infos">
                <div class="form-row white-box">
                  <div class="form-group col-md-6">
                    <label>Origen</label>
                    <p><%= load.start_point.location %></p>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Destino</label>
                    <p><%= load.end_point.location %></p>
                  </div>
                </div>
                <div class="form-row white-box">
                  <div class="form-group col-md-6">
                    <label>Fecha mínima</label>
                    <p><%= load.start_date %></p>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Fecha máxima</label>
                    <p><%= load.end_date %></p>
                  </div>
                </div>
                <div class="form-row white-box">
                  <div class="form-group col-md-6">
                    <label>Rango horario</label>
                    <p><%= load.hour_range %></p>
                  </div>
                </div>
                <div class="form-row white-box">
                  <div class="form-group col-md-6">
                    <label>Requerimientos especiales</label>
                    <p><%= load.special_requirement.description %></p>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Tipo de carga</label>
                    <p><%= load.load_category.description %></p>
                  </div>
                </div>
                <div class="form-row white-box">
                  <div class="form-group col-md-6">
                    <label>Volumen(m3)</label>
                    <p><%= load.volume %></p>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Peso(kg)</label>
                    <p><%= load.weight %></p>
                  </div>
                </div>

              </div>
          </div>

          <div>
            <%= link_to "#", class: "add-load check-button", data: {id: load.id} do %>
              <i class="fas fa-check-square fa-3x"></i>
              <i class="far fa-square fa-3x"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="container">
        <h1 class="black-shadow">Asigna el camión para este viaje</h1>
        <div class="justify-content-center form-box">
          <%= simple_form_for @freight do |f| %>
            <div class="white-box">
              <%= f.association :truck, collection: Truck.where(user: current_user), label_method: :truck_name, label: "Elegí el camión" %>
            </div>
            <div class="d-none">
              <%= simple_fields_for :loads do |l|%>
                <%= l.input :ids, collection: @loads, input_html: {multiple: true} %>
              <% end %>
            </div>
            <%= f.submit 'Crear viaje', class: "btn button green-button"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

