<div class="container">
  <div class="container">
    <h1>Buscador de cargas</h1>
    <div class="row">
      <div class="col-sm-6 form-box ">
        <%= search_form_for @q do |f| %>
          <div class= "form-inputs">
            <div class="container">
              <div class="form-row white-box">
                <div class="form-group col-md-6">
                  <label>Origen</label>
                  <p>¿Desde dónde sale?</p>
                </div>
                <div class="form-group col-md-6">
                  <label>Destino</label>
                  <p>¿Hasta dónde va?</p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="form-row white-box">
                <div class="form-group col-md-6 input-daterange" id="datepicker">
                  <label>Fecha máxima</label>
                  <div class="input-daterange" id="datepicker">
                    <%= f.search_field :start_date_cont, placeholder: "15/08/2020",'datepicker' => true %>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Fecha mínima</label>
                  <%= f.search_field :end_date_cont, placeholder: "20/08/2020",'datepicker' => true %>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="form-row white-box">
                <div class="form-group col-md-6">
                  <label>Hora mínima</label>
                  <%= f.search_field :hour_range_cont, placeholder: "07:00" %>
                </div>
                <div class="form-group col-md-6">
                  <label>Hora máxima</label>
                  <%= f.search_field :hour_range_cont, placeholder: "19:00" %>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="form-row white-box">
                <div class="form-group col-md-6">
                  <label>Tipo de carga</label>
                  <%= f.search_field :load_category_id_cont, placeholder: "Palletizado", collection: LoadCategory.all %>
                </div>
                <div class="form-group col-md-6">
                  <label>Requerimientos especiales</label>
                  <%= f.search_field :special_requirement_id_cont, placeholder: "Frágil" %>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <%= f.submit 'Ver opciones', class: "button green-button"%>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6">
        <h3>Mapa</h3>
      </div>
    <div>
  </div>
  <div class="container">
    <h1>Selecciona las cargas</h1>
    <div class="col-12">
      <% @loads.each do |load| %>
        <div class="load-card">
          <%= image_tag "default-load.png", height: 300, width: 400, crop: :fill %>
            <div class= "load-card-infos">
              <div class="form-row white-box">
                <div class="form-group col-md-6">
                  <label>Origen</label>
                  <p>Arávalo 2279, CABA</p>
                </div>
                <div class="form-group col-md-6">
                  <label>Destino</label>
                  <p>Rueda 755, Rosario</p>
                </div>
              </div>
              <div class="form-row white-box">
                <div class="form-group col-md-6">
                  <label>Fecha mínima</label>
                  <p>15/08/2020</p>
                </div>
                <div class="form-group col-md-6">
                  <label>Fecha máxima</label>
                  <p>20/08/2020</p>
                </div>
              </div>
              <div class="form-row white-box">
                <div class="form-group col-md-6">
                  <label>Hora mínima</label>
                  <p>9:00</p>
                </div>
                <div class="form-group col-md-6">
                  <label>Hora máxima</label>
                  <p>13:00</p>
                </div>
              </div>
              <div class="form-row white-box">
                <div class="form-group col-md-6">
                  <label>Requerimientos especiales</label>
                  <p>Refrigerado</p>
                </div>
                <div class="form-group col-md-6">
                  <label>Tipo de carga</label>
                  <p>Palletizado</p>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

