<div class="container">
  <br>
  <h1 class="black-shadow">Mis cargas</h1>
  <br>
  <div class="form form-box">
    <table class="table table-hover white-box">
      <thead>
        <tr>
          <th class="align-middle" scope="col">Fecha</th>
          <th class="align-middle" scope="col">Origen</th>
          <th class="align-middle" scope="col">Destino</th>
          <th class="align-middle" scope="col">Estado</th>
          <th class="align-middle" scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
        <% @loads.each do |load| %>
          <tr>
            <td class="align-middle"><%= load.start_date.strftime("%d.%m.%y") %></td>
            <td class="align-middle"><%= load.start_point.location %></td>
            <td class="align-middle"><%= load.end_point.location %></td>
            <td class="align-middle"><%= load.status %></td>
            <td class="align-middle">
              <% if load.photo.present? %>
                <%= cl_image_tag load.photo.key, height: 60, width: 80, crop: :fill %>
              <% else %>
                <%= image_tag "default-load.png", height: 60, width: 80, crop: :fill %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="form-row d-flex justify-content-center px-10">
      <button class="button green-button align-middle"><%= link_to "Nueva carga", new_load_path %></button>
    </div>
  </div>
</div>
