<div class="container">
  <div class="form">
    <%= simple_form_for @load do |f| %>

      <%= f.input :start_date, placeholder: "Start date", label: 'Fecha mínima' %>
      <%= f.input :end_date, placeholder: "End date", label: 'Fecha máxima' %>
      <%= f.input :hour_range, placeholder: "Rango horario", label: 'Rango horario' %>
      <%= f.input :weight, placeholder: "Weight", label: false %>
      <%= f.input :volume, placeholder: "Volume", label: false %>
      <%= f.input :status, placeholder: "Status", label: false %>
      <%= f.input :price, placeholder: "Price", label: false %>
      <%= f.button :submit, "Add new load", class: "button green-button"%>
    <% end %>
  </div>
</div>
