<div class="container">
  <h2>Confirmación de viaje</h2>
  <div class="form">
    <%= simple_form_for @freight do |f| %>
      <div class="row">
        <div class="col-m-2">
          <%= f.input :start_date, label: 'Fecha' %>
        </div>
        <div class="col-m-5">
          <%= f.input :start_date, label: 'Hora inicial' %>
          <%= f.input :end_date, label: 'Hora final' %>
        </div>
        <div class="col-m-5">
          <%= f.input :start_point, label: 'Origen' %>
          <%= f.input :end_point, label: 'Destino' %>
        </div>
      </div>
      <div class="row">
        <div class="col-m-3">
          <%= f.input :truck, label: 'Tipo de carga' %>
        </div>
        <div class="col-m-3">
          <%= f.input :truck, label: 'Requerimientos especiales' %>
        </div>
        <div class="col-m-3">
          <%= f.input :truck, label: 'Asignar camión' %>
        </div>
        <div class="col-m-3">
          <%= f.input :truck, label: 'Conductor' %>
        </div>
      </div>
      <div class="row">
        <div class="col-m-2">
          <%= f.input :distance, label: 'Distancia total' %>
        </div>
        <div class="col-m-2">
          <%= f.input :capacity, label: 'Capacidad utilizada' %>
        </div>
        <div class="col-m-2">
          <%= f.input :emissions, label: 'Emisiones estimadas' %>
        </div>
        <div class="col-m-2">
          <%= f.input :price, label: 'Tarifa $/km/m3' %>
        </div>
        <div class="col-m-2">
          <%= f.input :price, label: 'Precio total' %>
        </div>
        <div class="col-m-2">
          <div class="row">
            <%= f.button :submit, "Confirmar viaje", class: "btn green-button"%>
            <%= f.button :submit, "Confirmar viaje", class: "btn green-button"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
