<div class="container">
  <br>
  <h1 class="black-shadow">Confirmación de viaje</h1>
  <br>
  <div class="form form-box">
    <%= simple_form_for @freight do |f| %>
      <div class="row">
        <div class="col-sm white-box m-2">
          <label>Fecha</label>
          <p><%= @freight.start_date.strftime("%d.%m.%y") %></p>
        </div>
        <div class="col-sm white-box m-2">
          <label>Origen</label>
          <p><%= @freight.start_point %></p>
        </div>
        <div class="col-sm white-box m-2">
          <label>Destino</label>
          <p><%= @freight.end_point %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm white-box m-2">
          <label>Tipo de carga</label>
          <p><%= @freight.loads.first&.load_category&.description %></p>
        </div>
        <div class="col-sm white-box m-2">
          <label>Requerimientos especiales</label>
          <p><%= @freight.loads.first&.special_requirement&.description %></p>
        </div>
        <div class="col-sm white-box m-2">
          <label>Camión</label>
          <p><%= @freight.truck.truck_name %></p>
        </div>
        <div class="col-sm white-box m-2">
          <label>Conductor</label>
          <p><%= @freight.truck.driver_name %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm white-box m-2">
          <label>Distancia total</label>
          <p class="text-center"><%= number_with_delimiter(@freight.distance.round(0), delimiter: ".") %></p>
        </div>
        <div class="col-sm white-box m-2">
          <label>Utilización</label>
          <p class="text-center"><%= number_to_percentage(@freight.capacity, precision: 0) %></p>
        </div>
        <div class="col-sm white-box m-2">
          <label>Emisiones</label>
          <p class="text-center"><%= number_with_delimiter(@freight.emissions.round(0), delimiter: ".") %></p>
        </div>
        <div class="col-sm white-box m-2">
          <label>Tarifa $/km/m3</label>
          <p class="text-center"><%= number_to_currency @freight.price %></p>
        </div>
        <div class="col-sm white-box m-2">
          <label>Precio total</label>
          <p class="text-center"><%= number_to_currency @freight.price %></p>
        </div>
        <div class="col-sm" id="buttons">
          <div class="row">
            <button class="button green-button align-middle"><%= link_to "Confirmar viaje", my_freights_path %></button>
          </div>
          <div class="row">
            <button class="button green-button align-middle"><%= link_to "Agregar cargas", loads_path %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <h1 class="black-shadow">Hoja de ruta</h1>
  <br>
  <div class="form-box">
    <table class="table table-hover white-box">
      <thead>
        <tr>
          <th class="align-middle" scope="col">Carga</th>
          <th class="align-middle" scope="col">Origen</th>
          <th class="align-middle" scope="col">Destino</th>
          <th class="align-middle" scope="col">Volumen</th>
          <th class="align-middle" scope="col">Peso</th>
          <th class="align-middle" scope="col">Precio Total</th>
          <th class="align-middle" scope="col">Estado</th>
          <th class="align-middle" scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
        <% @freight.loads.each_with_index do |load, i| %>
          <tr>
            <td class="align-middle"><%= i + 1 %></td>
            <td class="align-middle"><%= load.start_point.location %></td>
            <td class="align-middle"><%= load.end_point.location %></td>
            <td class="align-middle"><%= load.volume %></td>
            <td class="align-middle"><%= load.weight %></td>
            <td class="align-middle"><%= load.price %></td>
            <td class="align-middle"><%= load.status %></td>
            <td class="align-middle">
              <% if load.photo.present? %>
                <%= cl_image_tag load.photo.key, height: 60, width: 80, crop: :fill %>
              <% else %>
                <%= image_tag "default-load.png", height: 60, width: 80, crop: :fill %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</td>
</div>
