<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'banner-transp.jpg' %>');" >
  <div class="col-6 p-5">
    <h1 class="text-left align-text-bottom" id="banner-text">La manera sencilla de organizar cargas optimizando tus recursos</h1>
  </div>
</div>
<div class="white-rec">
  <br>
  <br>
  <h1 class="black-shadow">¿Por qué elegirnos?</h1>
  <br>
</div>
<div class="container">
  <div class="row cards">
    <div class="col">
      <div class="card w3-hover-shadow w3-padding-64">
        <img src="<%= asset_path('t-optimiza-recursos.jpg') %>" alt="">
        <br>
        <div class="card-info">
          <h1 class="text-center">Optimizá recursos</h1>
          <p class="text-justify">Mediante GreenFreigt podés optimizar la capacidad de tus camiones, disminuir la cantidad de cargas parciales y disminuir el número de camiones que circulan vacíos en su camino de regreso.</p>
        </div>
      </div>
    </div>
    <div class="col">
     <div class="card w3-hover-shadow w3-padding-64">
       <img src="<%= asset_path('t-cuida-planeta.png') %>" alt="">
       <br>
       <div class="card-info">
         <h1 class="text-center">Cuidá el planeta</h1>
         <p class="text-justify">Optimizando las rutas y realizando viajes con múltiples paradas, ayudas a disminuir considerablemente la huella de carbono y el impacto ambiental.</p>
       </div>
     </div>
    </div>
    <div class="col">
      <div class="card w3-hover-shadow w3-padding-64">
        <img src="<%= asset_path('t-disminui-costos.jpg') %>" alt="">
        <br>
        <div class="card-info">
          <h1 class="text-center">Disminuí costos</h1>
          <p class="text-justify">La incorporación de esta robusta herramienta digital te permitirá reducir costos, mejorar tu gestión y aumentar tu competitividad.</p>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="row justify-content-center m-2">
    <br>
    <h1 class="black-shadow">¿Cómo funciona?</h1>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col">
      <div class="small-card w3-hover-shadow w3-padding-64">
        <img src="<%= asset_path('driver-paso1.png') %>" alt="">
        <div class="card-info">
          <h2 class="text-center">Agrega camiones</h2>
          <p class="text-justify align-top">Suma tus camiones a nuestra plataforma</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="small-card w3-hover-shadow w3-padding-64">
        <img src="<%= asset_path('driver-paso2.png') %>" alt="">
        <div class="card-info">
          <h2 class="text-center">Busca cargas</h2>
          <p class="text-justify align-top">Busca las cargas filtrando de acuerdo a distintos criteros</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="small-card w3-hover-shadow w3-padding-64">
        <img src="<%= asset_path('driver-paso3.png') %>" alt="">
        <div class="card-info">
          <h2 class="text-center">Arma los viajes</h2>
          <p class="text-justify align-top">Asignales un camión a las cargas seleccionadas y calcula el rendimiento de tu viaje</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="small-card w3-hover-shadow w3-padding-64">
        <img src="<%= asset_path('driver-paso4.png') %>" alt="">
        <div class="card-info">
          <h2 class="text-center">Segui los viajes</h2>
          <p class="text-justify align-top">Da seguimiento a tus choferes de origen a destino</p>
        </div>
      </div>
    </div>
  </div>
</div>
