<div class="container mt-4 col-6">
  <h2 class="black-shadow">Iniciar sesión</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs form-box">
      <div class="white-box">
        <div class="form-group">
          <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
        </div>
      </div>
      <div class="white-box">
        <div class="form-group">
          <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
        </div>
      </div>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <div class="form-row d-flex justify-content-center px-10">
        <%= f.button :submit, "Iniciar sesión", class: "button green-button" %>
      </div>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
